---
import type { FooterProps } from "../contracts";

interface Props extends FooterProps {}

const { disclaimer } = Astro.props;
---

<footer class="site-footer">
  <div>
    <span class="status-light" aria-hidden="true"></span>
    <span>{disclaimer}</span>
  </div>
</footer>
